.ResetPassword {
  border-radius: 5px;
  width: 80%;
  padding: 70px 40px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  justify-content: space-around;
}
.ResetPassword-bg {
  background: url("/assets/img3.jpg") no-repeat center center / cover;
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0.25);
}

.form-group input {
  width: 100%;
  outline: none;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  height: 45px;
  border: 1px solid #b3b3b3;
}

.ResetPassword button {
  display: block;
  width: 100%;
  outline: none;
  height: 45px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 20px;
}
.ResetPassword-SignIn {
  /* padding: 20px; */
  min-width: 45%;
}

.ResetPassword-SignUp {
  text-align: center;
  min-width: 45%;
}

.Forgot-Password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ResetPassword a {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}
