.Home {
}

.Home-Landing {
  display: flex;
  z-index: -1;
  /* position: sticky; */
  align-items: center;
  justify-content: space-around;
  margin-top: -10%;
  background-color: #184b47;
}

.Home-Landing-Image {
  width: 70%;
}
.Home-Landing-Image img {
  height: auto;

  width: 100%;
}

.Home-Landing-Text {
  padding: 5%;
  padding-top: 100px;
  z-index: 0;
  width: 50%;
  color: #fffffff1;
}

.Home-Landing-Text a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 130px;
  text-align: center;
  border: 1px solid #fff;
  padding: 16px 0;
  font-weight: 500;
  margin-right: 12px;
  z-index: 1;
}

.Home-Landing-Text a:first-child {
  background: #cf8b0d;
  border: 1px solid #cf8b0d;
}

.Home-Categories a {
  border: 1px solid #cf8b0d;
  padding: 20px 0;
  text-decoration: none;
  color: #06063d;
  font-weight: 500;
  text-align: center;
  width: 150px;
  margin: 10px 0;
}

.Home-Brands,
.Home-Categories {
  margin-top: 16px;
  padding: 50px 0;
}

.Home-Brands div,
.Home-Categories div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Home-Brands img {
  height: 50px;
  margin: 12px;
}

/* HOME SERVICE */

.Home-Service {
  background: #06063d;
  color: #fff;
}

.Home-Service-Title {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Home-Service-Title h2 {
  width: 16%;
}

.Home-Service-Title p {
  width: 40%;
  /* text-align: justify; */
}

.Home-Service-Content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.Home-Service-Card {
  text-align: center;
  padding: 32px;
  background: #fff;
  color: #06063d;
  width: 350px;
  height: auto;
  box-shadow: 2px 2px 10px 2px #06063d;
}

.Home-Service-Card img {
  height: 80px;
  margin-bottom: 20px;
}
