.Shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
}

@media screen and (max-width: 800px) {
  .Shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
